<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="Plat_ResTrace_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/WEB-INF/jsp/error/405.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/error/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginService</display-name>
    <servlet-name>LoginService</servlet-name>
    <servlet-class>com.zm.service.LoginService</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterService</display-name>
    <servlet-name>RegisterService</servlet-name>
    <servlet-class>com.zm.service.RegisterService</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RecieveMatService</display-name>
    <servlet-name>RecieveMatService</servlet-name>
    <servlet-class>com.zm.service.RecieveMatService</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SignListService</display-name>
    <servlet-name>SignListService</servlet-name>
    <servlet-class>com.zm.service.SignListService</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ManagerRegisterService</display-name>
    <servlet-name>ManagerRegisterService</servlet-name>
    <servlet-class>com.zm.service.ManagerRegisterService</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ManagerLoginService</display-name>
    <servlet-name>ManagerLoginService</servlet-name>
    <servlet-class>com.zm.service.ManagerLoginService</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditAddressService</display-name>
    <servlet-name>EditAddressService</servlet-name>
    <servlet-class>com.zm.service.EditAddressService</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DownloadImageService</display-name>
    <servlet-name>DownloadImageService</servlet-name>
    <servlet-class>com.zm.service.DownloadImageService</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateRegisterLoginService</display-name>
    <servlet-name>UpdateRegisterLoginService</servlet-name>
    <servlet-class>com.zm.service.UpdateRegisterLoginService</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>ManagerSignListService</display-name>
    <servlet-name>ManagerSignListService</servlet-name>
    <servlet-class>com.zm.service.ManagerSignListService</servlet-class>
  </servlet>
</web-app>